:root {
    --bluegray: #a2b9bc;
    --off-white: #f2f2f2;
    --darkgray: #878f99;
    --purple: #6b5b95;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--bluegray);
    color: var(--off-white);
    font-family: 'Raleway';
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -9999;
    background-color: #ffffff;
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    opacity: 0.4;
}

header {
    padding: 20px 50px;
    background-color: var(--darkgray);
    color: var(--purple);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header h1 {
    font-size: 48px;
    margin: 0;
}

header nav ul,
#contact-me address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

a {
    color: var(--off-white);
    padding: 10px 15px;
    text-decoration: none;
    font-size: 30px;
    font-style: normal;
    position: relative;
    z-index: 2;
}



main {
    max-width: 85%;
    margin: 0 auto;
}

section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
}

.left {
    border-right: 4px solid var(--purple);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    margin-right: 15px;
    font-size: 2vw;
    line-height: 1.1;
    width: 25%;
}

img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: right;
}

.description {
    width: 70%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: flex-start;
}

.description p {
    padding: 15px 0;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.project {
    grid-column: span 1;
    grid-row: span 1;
    background-size: cover;
    background-repeat: no-repeat;
}

.project:first-child {
    grid-column: span 2;
    grid-row: span 2;
    background-image: url(../images/about-me.jpg);
}

.horiseon-refactor {
    background-image: url(../images/about-me.jpg);
}

.gaming-survey {
    background-image: url(../images/about-me.jpg);
}

.fake {
    background-image: url(../images/about-me.jpg);
}

#contact-me address {
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

/* Nav Link Animation */
nav a {
    position: relative;
}

nav a:before {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--purple);
    opacity: 0.8;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: transform 0.3s ease-out;
}

nav a:hover:before {
    transform: scaleY(1)
}

/* Recent Work Link Animation */
.project {
    position: relative;
}

.project:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--purple);
    opacity: 0.8;
    transform: scale(0);
    transition-property: transform;
    transition: transform 0.3s ease-out;
}

.project:hover:before {
    transform: scale(1);
}
/* Address Link Animation */
address a {
    position: relative;
}

address a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--purple);
    opacity: 0.8;
    transform: scaleX(0);
    transform-origin: 50%;
    transition: transform 0.3s ease-out;
}

address a:hover:before {
    transform: scaleX(1);
}

@media screen and (max-width:1024px) {
    header {
        justify-content: center;
        display: block;
        text-align: center;

    }

    header nav ul {
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width:980px) {
    
}

@media screen and (max-width:768px) {
    
}

@media screen and (max-width:575px) {
    
}